# Backend
backend/__pycache__/
backend/*.pyc
backend/.env
backend/venv/
backend/.vscode/
backend/.idea/
backend/temp*.py

# Android
android-app/.gradle/
android-app/.idea/
android-app/build/
android-app/*.iml
android-app/local.properties

# General
.DS_Store
*.log
__pycache__/
node_modules/
.env.local